body{
  background-color: #e0c5a4;
}

nav{
  background-color: none;
}

nav a{
      Color: #855214;
      text-decoration: none;
      margin-right: 1em;
      font-size: 1.3em;
      font-family: courier, serif;
}
nav a:hover{
      color: white;
}

.img1{
  display: block;
  Margin: 0 auto;
  width: 97vw;
  height: 28vw;
}

h1{
  color: #9c8d67;
  text-align: center;
  font-size: 3em;
  font-family: montserrat, oswald, sans-serif;
  font-weight: bolder;
}

p{
  color: black;
}

#div1{
  float: left;
  width: 50%;
  text-align:center;
  color: #8f6014;
  font-family: courier, serif;
  background-color: #d3e0df;
}
#aboutmep{
  color: #8f6014;
  font-family: serif;
}

#div2{
  float: right;
  width: 50%;
  text-align: left;
}

#mygoalsp{
  color: #8f6014;
  font-family: serif;
}

.img2{
  display:block;
  margin: 0 auto;
  width: 25vw;
  height: 35vw;
  margin-bottom: 3%;
}

#workdiv{
  background-color: #d3e0df;
}
#workp{
  color: 8f6014;
  text-align: center;
  font-family: courier, serif;
}

#photoshopdiv{
  background-color: #e8d4b3;
  float:left;
  width: 47%;
  color: #73644d;
  font-family: monospace;
}
#photoshopp{
  color: #73644d;
  font-family: monospace;
  font-size: 1.2em;
}

.window{
  display: block;
  margin: 0 auto;
  height: 26vw;
  width: 45vw;
}
.forest{
  display: block;
  margin: 0 auto;
  height: 27vw;
  width: 45vw;
}
.safari{
  display: block;
  margin: 0 auto;
  height: 27vw;
  width: 45vw;
}

#illustratordiv{
  background-color: #e8d4b3;
  float:right;
  width: 50%;
  color: #73644d;
  font-family: monospace;
}

#illustratorp{
  color: #73644d;
  font-family: monospace;
  font-size: 1.2em;
}

.logo{
  display: block;
  margin: 0 auto;
  height: 30vw;
  width: 30vw;
}
.longlogo{
  display: block;
  margin: 0 auto;
  height: 20vw;
  width: 40vw;
}
.buscard{
  display: block;
  margin: 0 auto;
  height: 20vw;
  width: 40vw;
}

#premierediv{
  margin-top: 5%;
  margin-bottom: 5%;
  float: left;
  width: 100%;
  background-color: #e8d4b3;
  color: #73644d;
  font-family: monospace;
}
#premierep{
  float: left;
  width: 46%;
  color: #73644d;
  float: left;
  font-family: monospace;
  font-size: 1.2em;
}
.video{
  float: right;
  margin-bottom: 4%;
  margin-right: 5%;
}

#contactpicdiv{
  float: left;
  width: 45%;
  margin-bottom: 3%;
}
.contactpic{
  display: block;
  margin: 0 auto;
  height: 44vw;
}
#contactdiv{
  background-color: #d3e0df;
  float: right;
  width: 50%;
  color: #73644d;
  font-family: monospace;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
#phone{
  color: #73644d;
  font-family: monospace;
  font-size: 1.2em;
}
#email{
  color: #73644d;
  font-family: monospace;
  font-size: 1.2em;
}
#address{
  color: #73644d;
  font-family: monospace;
  font-size: 1.2em;
}
